*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    /* ------------------------ Clases utilitarias ------------------------------------*/
a{ text-decoration: none; color:#e7e0e0; }
li{ list-style: none;  display: inline; }
.letra_blanca{color: #e7e0e0;}
.btn_verde{ background-color:limegreen;}
.btn_transparente{ background-color: transparent;}
.fondo_gris {background-color:rgb(53, 58, 64);}
.fondo_blanco {background-color:rgb(237, 241, 245);}
/* ------------------------------Header----------------------------------------- */
.navegacion {
        .logo {
            width:50px;
            height:50px;
            }
        .letra_gris{color: rgb(84, 104, 104); }
        .letra_verde{color: darkgreen;}
    }


























    .lyf{
        #lyf{

        }
    }


    .conviertete{
        #conviertete{

        }
    }

/* ----------------------------------Footer--------------------------------------- */
    .footer {
            background-image: linear-gradient(to right top, #1d3744, #1d3948, #1d3b4b, #1d3d4f, #1d3f53, #1d4157, #1e445a, #1e465e, #1e4963, #1e4c67, #1d4f6c, #1d5271);
        }
    